<div class="container">
  <h1 class="title">
    {{ 'PAGES.PORTFOLIO.TITLE' | translate }}
  </h1>

aa
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>

  <a routerLink="/">{{ 'PAGES.PORTFOLIO.BACK_TO_HOME' | translate }}</a>
</div>
